apiVersion: v1
kind: ConfigMap
metadata:
  name: kbs-config-grpc
  namespace: trustee-operator-system
data:
  kbs-config.toml: |
    [http_server]
    sockets = ["0.0.0.0:8080"]
    insecure_http = true
    worker_count = 4

    [admin]
    type = "DenyAll"
    insecure_api = true
    auth_public_key = "/etc/auth-secret/kbs.pem"

    [attestation_token]
    insecure_key = true

    [attestation_service]
    type = "coco_as_grpc"
    as_addr = "http://127.0.0.1:50004"

    [[plugins]]
    name = "resource"
    type = "LocalFs"
    dir_path = "/opt/confidential-containers/kbs/repository"

    [policy_engine]
    policy_path = "/opt/confidential-containers/opa/policy.rego"
