apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.namePrefix }}controller-manager
  namespace: {{ .Values.namespace }}
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: deployment
    app.kubernetes.io/instance: controller-manager
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: trustee-operator
    app.kubernetes.io/part-of: trustee-operator
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        - --health-probe-bind-address=:8081
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        name: manager
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: KBS_IMAGE_NAME
          value: {{ .Values.kbs.image.repository }}:{{ .Values.kbs.image.tag }}
        - name: KBS_IMAGE_NAME_MICROSERVICES
          value: {{ .Values.kbs.image.repository }}:{{ .Values.kbs.image.tag }}
        - name: AS_IMAGE_NAME
          value: {{ .Values.as.image.repository }}:{{ .Values.as.image.tag }}
        - name: RVPS_IMAGE_NAME
          value: {{ .Values.rvps.image.repository }}:{{ .Values.rvps.image.tag }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      serviceAccountName: {{ .Values.namePrefix }}controller-manager
      terminationGracePeriodSeconds: 10
