name: "Integration tests"
on:
  pull_request:
    branches:
      - main
    # Skip CI when changes are made to *.md files
    paths-ignore:
      - '**.md'

env:
  KUTTL: /usr/local/bin/kubectl-kuttl

jobs:
  integration-tests:
    strategy:
      matrix:
        instance:
          - "ubuntu-22.04"
          - "ubuntu-22.04-arm"
    runs-on: ${{ matrix.instance }}
    steps:

    - uses: actions/setup-go@v5
      with:
        go-version: 1.25.0

    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        KUTTL_ARCH="x86_64"
        KIND_ARCH="amd64"
        if [ "$RUNNING_INSTANCE" == "ubuntu-22.04-arm" ]; then
          KUTTL_ARCH="arm64"
          KIND_ARCH="arm64"
        fi
        sudo curl -Lo $KUTTL https://github.com/kudobuilder/kuttl/releases/download/v0.19.0/kubectl-kuttl_0.19.0_linux_${KUTTL_ARCH}
        sudo chmod +x $KUTTL
        sudo curl -Lo kind https://github.com/kubernetes-sigs/kind/releases/download/v0.22.0/kind-linux-${KIND_ARCH}
        sudo chmod +x kind
      env:
        RUNNING_INSTANCE: ${{ matrix.instance }}

    - name: "Run integration tests"
      run: KBS_IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY%/*}/staged-images/kbs:latest CLIENT_IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY%/*}/staged-images/kbs-client-image:latest make test-e2e
